body {
    background-color: floralwhite;
    font: "Comfortaa Bold";
}

h1 {
    color: navy;
    margin-left: 20px;
}

div#viewport {
    position: absolute;
    top: 0px;
    width: 100%;
}
#viewport {
    min-height: 100%;
    position: relative;
    width: 100%;
}
.ctrl-pagina {
    margin: 0px auto;
    min-width: 980px;
}
.content {
    padding-bottom: 35px;
}

@font-face{
    font-family: 'Comfortaa Light';
    src: url("http://bendai.com.br/fonte/Comfortaa-Light.ttf");
    src: local('Comfortaa Light'), url("http://bendai.com.br/fonte/Comfortaa-Light.ttf") format('truetype');
}
@font-face{
    font-family:'Comfortaa Regular';
    src: url("http://bendai.com.br/fonte/Comfortaa-Regular.ttf");
    src: local('Comfortaa Regular'), url("http://bendai.com.br/fonte/Comfortaa-Regular.ttf") format('truetype');
}
@font-face{
    font-family:'Comfortaa Bold';
    src: url("http://bendai.com.br/fonte/Comfortaa-Bold.ttf");
    src: local('Comfortaa Bold'), url("http://bendai.com.br/fonte/Comfortaa-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Comfortaa Bold";
    src: url("http://bendai.com.br/imagens/marca/bendai_logotipo_colorido_.svg");
}
